.Dictionary h1 {
  font-family: Rochester, serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

.Dictionary h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.Dictionary section {
  background-color: #00c2c2;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 15%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
