.Phonetic {
  height: 20px;
  color: #333;
  margin-bottom: 30px;
}

.Phonetic .fa-volume-up {
  border: 1px solid #333;
  color: #333;
  border-radius: 40px;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
}

.Phonetic .fa-volume-up:hover {
  cursor: pointer;
}

.Phonetic .text {
  opacity: 0.9;
  font-weight: bold;
  margin-left: 5px;
}
