.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms li {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #212529;
  border-radius: 6px;
  padding-right: 10px;
  padding: 8px 14px;
  margin: 4px;
  margin-bottom: 10px;
  line-height: 1;
}
